---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About the author, an offensive security consultant and CTF player"
	pubDate={new Date('April 05 2025')}
>
	<p>I am a offensive security consultant, developer and CTF player with <a href="https://adminions.ca/">ADMinions</a>. Sometimes I like to annoy myself with DotA2 or Counter-Strike.</p>

	<p>If you want to contact me:</p>

	<ul>
		<li>Discord: <code>syl5x</code></li>
		<li><a href="https://www.linkedin.com/in/dimitar-ganev-syl-/">LinkedIn</a></li>
		<li>Email: <code>me@dganev.com</code></li>
	</ul>
</Layout>
