---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	a {
		font-size: 0.9rem;
		color: var(--text-secondary);
		text-decoration: none;
		font-weight: 500;
		transition: color 0.15s;
	}
	a:visited { color: var(--text-secondary); }
	a:hover, a.active { color: var(--text); }
</style>
